
table {
    width: 100%;
    
  }

  
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
   
  }

  h1 {
    text-align: center;
    margin-top: 10px;

  }

  .container {
   //colocar fondo de pantalla 
    
    max-width: 1300px;
    margin: 0 auto;
  }

  .btn-Excel {
   background-color: rgba(10, 221, 56, 0.836);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 1px;
  }

  .btn-txt {
    background-color: rgba(248, 248, 248, 0.836);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 11px;
  }